<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.z.core.dao.OrderInfoMapper" >
	<select id="getNameOfCommodityList" resultType="String">
		select distinct nameOfCommodity from poi.order_info
	</select>
	
	<select id="getNumberOfTicketsSold" resultType="int">
		select sum(numberOfTicket) from poi.order_info
		where nameOfCommodity = #{nameOfCommodity}
		and statusoforder = 1;
	</select>
	
	<insert id="addOrderInfo" parameterType="OrderInfo">
		INSERT INTO poi.order_info
			(orderType,
			sourceOfOrder,
			orderId,
			customOrderId,
			dateOfOrder,
			dateOfIssuance,
			statusOfOrder,
			methodOfPayment,
			statusOfPayment,
			methodOfDistribution,
			consignee,
			phoneNumberOfConsignee,
			phoneNumberOfCustom,
			discountGrade,
			perksOfMembershi,
			nameOfCommodity,
			performanceId,
			nameOfPerformance,
			ieldOfPerformance,
			dateOfPerformance,
			priceAndNumber,
			priceOfTicket,
			numberOfTicket,
			shouldPayment,
			actualPayment,
			ticketPurpose)
		VALUES
			(#{orderType},
			#{sourceOfOrder},
			#{orderId},
			#{customOrderId},
			#{dateOfOrder},
			#{dateOfIssuance},
			#{statusOfOrder},
			#{methodOfPayment},
			#{statusOfPayment},
			#{methodOfDistribution},
			#{consignee},
			#{phoneNumberOfConsignee},
			#{phoneNumberOfCustom},
			#{discountGrade},
			#{perksOfMembershi},
			#{nameOfCommodity},
			#{performanceId},
			#{nameOfPerformance},
			#{ieldOfPerformance},
			#{dateOfPerformance},
			#{priceAndNumber},
			#{priceOfTicket},
			#{numberOfTicket},
			#{shouldPayment},
			#{actualPayment},
			#{ticketPurpose})
	</insert>
	
	<delete id="clearOrderInfo">
		delete * from poi.order_info
	</delete>
</mapper>