<?xml version="1.0" encoding="UTF-8"?>
<insert>
	INSERT INTO POI.order_info
	(sourceoforder, orderid, customorderid, dateoforder, dateofissuance, 
	statusoforder, methodofpayment, statusofpayment, methodOfDistribution, 
	consignee, phoneNumberOfConsignee, phoneNumberOfCustom, discountGrade, 
	perksOfMembershi, nameOfCommodity, performanceId, nameOfPerformance, 
	ieldOfPerformance, dateOfPerformance, priceAndNumber, 
	priceOfTicket, numberOfTicket, shouldPayment, actualPayment)
	VALUES('', '', '', '', '', 0, '', 0, '', '', '', '', '', '', '', '', '', '', '', '', 0, 0, 0, 0);
</insert>